
<div id="dpl"></div>
<button class="btn btn-primary" id="xuat-file">Create Word</button>
<script>
    var urlDomain="/Home"

    $(document).ready(function () {
        $("#xuat-file").off('click').on('click', function () {
            xuatFile()
        })
        $.ajax({
            url: `${urlDomain}/list`,
            method: "GET"
            , success: function (response) {
                $('#dpl').html(response);
            }
        });
    })
    function xuatFile() {
        window.location.href="/Home/xuat-file"
        //$.ajax({
        //    url: urlDomain + "/xuat-file",
        //    method: "get"

        //    , success: function (response) {
        //        alert(response);
        //    }
        //});
    }
</script>